p {
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.étudiant {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 600px;
}

.info {
    padding-left: 20px;
    float: left;
    width: 70%;
}

.image-droite {
    padding-right: 20px;
    padding-top: 8px;
    float: right;
    width: 10%;
}
